<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Go | Application</title>
</head>
<body>
  <div class="container">
    <h1>Insert A New product</h1>
    <div class="form">
      <div class="form__container">
        <label for="">Code</label>
        <input type="number" [(ngModel)]="art.codigo">
      </div>
      <div class="form__container">
        <label for="">Description</label>
        <input type="text" [(ngModel)]="art.descripcion">
      </div>
      <div class="form__container">
        <label for="">Price</label>
        <input type="number" [(ngModel)]="art.precio">
      </div>
      <div class="options">
        <button (click)="add()">Add New Product</button>
        <button (click)="modificar()">Modify the Product</button>
      </div>
    </div>
  </div>

  <div class="container__form">
    <h1>Look Our List</h1>
    <table *ngIf="registros(); else sinArticulos">
      <tr class="head__table">
        <td>Code</td>
        <td>Description</td>
        <td>Price</td>
        <td>Actions</td>
      </tr>
      <tr *ngFor="let art of articulos">
        <td>{{art.codigo}}</td>
        <td>{{art.descripcion}}</td>
        <td>{{art.precio}}</td>
        <td class="final">
          <button (click)="delete(art)" class="delete">Delete</button>
          <button (click)="select(art)">Select</button>
        </td>
      </tr>
    </table>
    <ng-template #sinArticulos><p>There isn't articles</p></ng-template>
  </div>
</body>
</html>